.a{
  background-color: rgb(72, 72, 245);
  color: white;
}
.d{
  background-color: red;
  color: white;
}
.e{
  background-color: rgb(67, 221, 67);
  color: white;
}
.s{
  background-color: rgb(25, 137, 156);
  color: white;
}